* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
}
.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
	color: #e5e5e5 !important;
	margin-right: 10px;
	font-size: small;
}

.container {
	display: flex;
	width: 100%;
}

/* styling the side bar */
.side-bar {
	background-color: #2a3f54;
	width: 20%;
	height: 100vh;
}
.logo {
	display: flex;
	align-items: center;
	/* margin-bottom: 10px; */
	padding: 5px 20px 8px 10px;
	border-bottom: 0.5px solid gainsboro;
}
.admin-profile-img {
	height: 50px;
	width: 50px;
}
.admin-profile-img > img {
	height: inherit;
	width: inherit;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}
.logo-img {
	height: 30px;
	width: 30px;
	cursor: pointer;
}
.logo-img > img {
	height: inherit;
	width: inherit;
	background-color: blanchedalmond;
	border-radius: 50%;
	border: 1px solid goldenrod;
}
.logo > h1 {
	color: blanchedalmond;
	margin-left: 10px;
	font-size: 15px !important;
	cursor: pointer;
}
.admin-profile {
	display: flex;
	align-items: center;
	padding: 20px;
}
.welcome {
	margin-left: 10px;
}
.welcome h4,
h2 {
	color: blanchedalmond;
	font-weight: 300;
}
.welcome > h2 {
	font-size: 14px;
	font-weight: 400 !important;
	cursor: pointer;
}
.welcome > h4 {
	font-size: 9px;
	/* font-weight: 400 !important; */
}
.sidebar-options {
}
.sidebar-options > h3 {
	color: blanchedalmond;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
	padding: 20px;
}
.list-option > ul > li {
	text-decoration: none;
	list-style: none;
	margin-top: 10px;
	background-color: inherit;
}
.list-option .btn-options {
	background-color: #2a3f54;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 10px;
	border: none;
	cursor: pointer;
	padding: 5px 0 5px 20px;
	color: blanchedalmond;
	font-weight: 400 !important;
}
.list-option .btn-options:hover {
	border-right: 4px solid goldenrod;
	box-shadow: rgba(169, 194, 236, 0.25) 0px 4px 8px -2px,
		rgba(31, 31, 32, 0.08) 0px 0px 0px 1px;
}
